[Unit]
Description=n2kconvert NMEA2000 to NMEA0183 Converter
After=network.target n2kconvert-fifos.service

[Service]
ExecStart=/usr/bin/n2kconvert
StandardOutput=syslog
StandardError=inherit
Restart=always
RestartSec=1
Type=simple

[Install]
WantedBy=multi-user.target
